data
sharpr/data
sureseq
!sureseq/*.ipynb* 
!sureseq/sbatch
starr-stark
deeplearn/data
deeplearn/deeplift_scores
deeplearn/features
deeplearn/labels
deeplearn/hdf5files
deeplearn/weights
deeplearn/predictions
deeplearn/splits
deeplearn/variant_scoring
deeplearn/plots/tfanalysis/tf_seq_df.tab
deeplearn/scripts/*.pyc
data/GENCODE
deeplearn/model_files/xgb_kmer_sharpr_aug1/intermediate_models
deeplearn/model_files/atac_xferlearn_jul24
deeplearn/model_files/counts_poisson_sep7
deeplearn/model_files/minp_jul31
deeplearn/model_files/regression_jul7_jittered
deeplearn/model_files/upweightends_aug10
